body {
	background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#373737), color-stop(100%,#484848));
	color:#d8ded3;
	font-family:sans-serif
}

table {
	width:100%%;
	line-height:160%%;
	font-size:12px
}

th {
	border:1px solid;
	border-color:#414141 #414141 #414141 #414141;
	background:#272727;
	color:#c4b550;
	padding-left:5px;
	font:normal;
	text-align:left
}

tr {
	background:#414141
}

.q {
	border:1px solid;
	border-color:#212121 #212121 #212121 #282e22
}

.b {
	background:#525252
}

.o {
background-image: url(http://borshaga.la.net.ua/skill/Scratches.jpg);
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px; 
 padding: 6px; 
 color:#ffffff;
 }

.Lm {
	background-image: url(http://borshaga.la.net.ua/skill/low_minus.png);
	width: 70px;
	height: 16px;
}

.L {
	background-image: url(http://borshaga.la.net.ua/skill/low.png);
	width: 70px;
	height: 16px;
}

.Lp {
	background-image: url(http://borshaga.la.net.ua/skill/low_plus.png);
	width: 70px;
	height: 16px;
}

.Mm {
	background-image: url(http://borshaga.la.net.ua/skill/midl_minus.png);
	width: 70px;
	height: 16px;
}

.M {
	background-image: url(http://borshaga.la.net.ua/skill/midl.png);
	width: 70px;
	height: 16px;
}

.Mp {
	background-image: url(http://borshaga.la.net.ua/skill/midl_plus.png);
	width: 70px;
	height: 16px;
}

.Hm {
	background-image: url(http://borshaga.la.net.ua/skill/hide_minus.png);
	width: 70px;
	height: 16px;
}

.H {
	background-image: url(http://borshaga.la.net.ua/skill/hide.png);
	width: 70px;
	height: 16px;
}

.Hp {
	background-image: url(http://borshaga.la.net.ua/skill/hide_plus.png);
	width: 70px;
	height: 16px;
}

.P {
	background-image: url(http://borshaga.la.net.ua/skill/pro.png);
	width: 70px;
	height: 16px;
}