body, html{
	width: 100%;
	height: 100%;
}

.my_container {
	position: relative;
	color: white;
	text-align: center;
	background-image: url("background.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
}
.center{
	text-align: center;
}
.button_centered{
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.btn-info:hover{
	border-width: 5px;
}